<!-- <div class="column">
    <h6>ABOUT US</h6>
    <H1>Welcome to Amigoz</H1>
    <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat
        ipsum et lorem et sit.</p>
    <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat
        ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
    <input type="button" value="Read More" class="btn">
</div> -->


<div class="row">
    <div class="col">
        <img src="https://www.w3schools.com/w3images/tablesetting2.jpg" alt="" class="col__img">
    </div>
    <div class="col">
        <h3 appCustomDirective>About Catering</h3>
        <h6 appCustomDirective string="since 1889" >Tradition &nbsp;</h6>
        <p>The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use
            seasonal ingredients.</p>
    </div>
</div>