<div class="wrapp">
    <div class="card" style="width: 18rem;"  appHoverDirective>
        <img src="https://img.sndimg.com/food/image/upload/f_auto,c_thumb,q_55,w_350,ar_4:3/v1/img/recipes/30/32/45/19L2ucjQneoEANPzyfiQ_0S9A6363.jpg" class="card-img-top" alt="..." height="200px">
        <div class="card-body">
          <h5  class="card-title" appStringcustomdirective stringvalue="Chicken Tikka"></h5>
          <p class="card-text">Let's start now.Rosso Mac and Port Chicken. A lovely international twist on an unexpected meal, honoring Freedom Month with a scrumptious medley of flavors!</p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;" appHoverDirective>
        <img src="https://img.sndimg.com/food/image/upload/f_auto,c_thumb,q_55,w_350,ar_4:3/v1/img/recipes/30/97/7/7GmgWw4TTUCCw7xGKQAP_0S9A6434.jpg" class="card-img-top" alt="..." height="200px">
        <div class="card-body">
          <h5 class="card-title"  appStringcustomdirective stringvalue="Mozarella Sticks"></h5>
          <p class="card-text">Let's start now.Rosso Mac and Port Chicken. A lovely international twist on an unexpected meal, honoring Freedom Month with a scrumptious medley of flavors!</p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;" appHoverDirective>
        <img src="https://img.sndimg.com/food/image/upload/f_auto,c_thumb,q_55,w_350,ar_4:3/v1/img/recipes/54/75/2/wc0parMsS9OTwRMHrOch_0S9A6332.jpg" class="card-img-top" alt="..." height="200px">
        <div class="card-body ">
          <h5 class="card-title" appStringcustomdirective stringvalue="Turkey Meatloaf"></h5>
          <p class="card-text">Let's start now.Rosso Mac and Port Chicken. A lovely international twist on an unexpected meal, honoring Freedom Month with a scrumptious medley of flavors!</p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;" appHoverDirective>
        <img src="https://img.sndimg.com/food/image/upload/f_auto,c_thumb,q_55,w_350,ar_4:3/v1/img/recipes/63/78/6/NrPa79ZESEOqMlMoFDos_fajitas-3.jpg" class="card-img-top" alt="..." height="200px">
        <div class="card-body">
          <h5 class="card-title" appStringcustomdirective stringvalue="Fajitas"></h5>
          <p class="card-text">Let's start now.Rosso Mac and Port Chicken. A lovely international twist on an unexpected meal, honoring Freedom Month with a scrumptious medley of flavors!</p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
</div>

