<div class="card" style="width: 50%" style="display: flex;justify-content: space-between;align-items: center;padding: 70px;">
    <img src="https://media.istockphoto.com/id/1437816897/photo/business-woman-manager-or-human-resources-portrait-for-career-success-company-we-are-hiring.webp?b=1&s=170667a&w=0&k=20&c=YQ_j83pg9fB-HWOd1Qur3_kBmG_ot_hZty8pvoFkr6A=" class="card-img-top" alt="..." width="10ppx"  height="400px">
    <div class="card-body" >
      <h5 class="card-title">JOHN DOE</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="/" class="btn btn-primary" >Go To Home</a>
    </div>
  </div>
